@charset "UTF-8";

@font-face { font-family: 'Arita-buri-SemiBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff'); font-weight: normal; font-style: normal; }
	/*리뷰 테이블 */
	.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px ;
	}
	/*컨테이너 */
	
	.container{
		font-family:'Arita-buri-SemiBold'; 
	 	border:2px solid eee;
	}

	/*컨테이너 오른쪽 col-6에 내용 부분*/
	.right{
		margin-top:30px;
		margin-left:28px;
		width:460px;
		height:651px;
	}
	
	/*컨테이너 왼쪽 col-6*/
	.col-6{
		height:100%
	}
	.position-relative{
		width:480px;
		height:286px;
		border:1px solid green;
	}
	/*줄거리 부분*/
	#story{
		width:470px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 9; /* 라인수 */
		-webkit-box-orient: vertical;
		word-wrap:break-word; 
		line-height: 1.5em;
		height: 13.5em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
	}
	/*리뷰 제목링크 부분*/
	.reviewBtn{
		font-family: 'Arita-buri-SemiBold'; 
		width        : 100px;     /* 너비는 변경될수 있습니다. */
		text-overflow: ellipsis;  /* 위에 설정한 100px 보다 길면 말줄임표처럼 표시합니다. */
		white-space  : nowrap;    /* 줄바꿈을 하지 않습니다. */
		overflow     : hidden;    /* 내용이 길면 감춤니다 */
		display      : block;     /* ie6이상 현재요소를 블럭처리합니다. */
		
	}
	/*책 이미지 부분*/
	#bookImg{
		padding: 0.25rem;
	    background-color: #fff;
	    border: 1px solid #dee2e6;
	    border-radius: 0.25rem;
	    max-width: 100%;
	}
	/*리뷰 불러오기 로딩 이미지*/
	.loader{

		text-align: center; /* 이미지를 좌우로 가운데  정렬 */
		z-index: 1000;
		display: none; /* 일단 숨겨 놓기 */
	}
	#exampleModal{
		height: 880px;
	}
	
	.loader img{
		width: 25px;
		height:25px;
		margin-bottom: 6px;
	}
	