@media ( min-width : 0px) {
	.icon-text {
		display: none;
	}
	#article {
		overflow-x: auto;
		overflow-y: hidden;
	}
	
}

@media ( min-width : 740px) {
	.icon-text {
		display: block;
	}
	#article {
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
}