
  #reviewList::-webkit-scrollbar {
    width: 10px;
  }
  #reviewList::-webkit-scrollbar-thumb {
    background-color:rgba(144, 198, 230, 0.774);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  #reviewList::-webkit-scrollbar-track {
    background-color:#fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }